/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/docker/mysql
/docker/nginx/logs
/storage/api-docs
/resources/views/vendor/l5-swagger/.gitkeep
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
